h1 {
    text-align: center;
    /* The width moves the text in percentages
       of the original position that it was placed */
    width: 50%;
    /* changes boldness of font - normal = 400 */
    font-weight: 400;
    text-decoration: yellowgreen underline wavy;
    letter-spacing: 10px;
    font-size: 60px;
    font-family: verdana, sans-serif;
}

h2 {
    text-decoration: underline;
    font-family: Arial, sans-serif;
}

h3 {
    text-decoration: green underline;
    font-weight: bold;
    font-family: 'Segoe UI', arial sans-serif;
}

p {
    line-height: 1.5;
    font-family: fantasy;
    text-align: justify;
    font-weight: normal;
}

a {
    text-decoration: none;
}